{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<div class="container">
<h2>질문게시판</h2>
    <div class="title">
        <img src="{% static 'images/question.png' %}" alt="question_mark" style="width:50px;">
        {{ question.title }}
    </div>

    <div class="name">
        <span>{{ question.author }}</span>

    </div>

    <div class="content">
        {{ question.content }}
    </div>

    <div class="time">
        {% if modify_date is null %}
            {{ question.create_date }}
        {% else %}
            {{ question.modify_date }}
        {% endif %}
    </div>





</div>
{% endblock %}