{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/QnA.css' %}">

<div class="content">
    <div class="header">
        <div class="table">
            <table>
                <h1>질문게시판</h1>
                <thead class="question_thead">
                <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                </tr>
                </thead>

                <tbody>
                    {% if question_list %}
                        {% for question in question_list %}
                            <tr>
                            <td>{{ question.id }}</td>
                            <td>
                                <a href="{% url 'board:question_detail' question.id %}">{{ question.title }}</a>
                                {% if question.answer_set.count > 0 %}
                                <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                                {% endif %}
                            </td>
                            <td>{{ question.author }}</td>
                            <td>
                                {% if question.modify_date is null %}
                                    {{ question.create_date }}
                                {% else %}
                                    {{ question.modify_date }}
                                {% endif %}
                            </td>
                            <td>{{ question.hits }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<ul class="pagination" style="border-top:none; margin-top: 30px; text-align:center;  display:flex;justify-content:center; align-items:center;">
  {% if question_list.has_previous %}
    <li class="page-item">
        <a href="?page={{ question_list.previous_page_number }}" class="page-link" style="color:black;">이전</a>
    </li>
  {% else %}
    <li class="page-item disabled">
        <a href="#" class="page-link" tabindex="-1" aria-disabled="true" style="color:black;">이전</a>
    </li>
  {% endif %}

  {% for page_number in question_list.paginator.page_range %}
  {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
    {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
            <a href="?page={{ page_number }}" class="page-link"  style="color:black; width:40px;">{{ page_number }}</a>
        </li>
    {% else %}
        <li class="page-item">
            <a href="?page={{ page_number }}" class="page-link"  style="color:black; width:40px;">{{ page_number }}</a>
        </li>
    {% endif %}
  {% endif %}
  {% endfor %}

  {% if question_list.has_next %}
    <li class="page-item">
        <a href="?page={{ question_list.next_page_number }}" class="page-link"  style="color:black;">다음</a>
    </li>
  {% else %}
    <li class="page-item disabled">
        <a href="#" class="page-link" tabindex="-1" aria-disabled="true"  style="color:black;">다음</a>
    </li>
  {% endif %}
</ul>


<div class="btn-wrap"  style="margin-bottom: 100px;">
    <button onclick="location.href='/board/question_create/'" class="question_btn" style="float:right; border:none; background-color:#333; color:white; width:200px;height:42px; margin-right:300px;">질문 작성</button>
</div>


{% endblock %}